html, body {
    margin: 0;
    background-image: url(space.jpg);
    background-size: 100%;
}

#wrapper {
    position: fixed;
    background: rgba(15, 15, 15, 0.95);
    border: 3px solid rgba(99, 99, 99, 0.753);
    width: 1000px;
    height: 605px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -320px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.493);
}

#leftCol {
    float: left;
    /* background: rgba(128, 128, 128, 0.5); */
    width: 247px;
    height: 100%;
    border-right: 2px solid rgba(99, 99, 99, 0.753);
}

#rightCol {
    float: left;
    /* background: rgba(199, 24, 24, 0.5);  */
    width: 750px;
    height: 100%;
}

#eventBox {
    position: relative;
    align-content: center;
    /* background: rgba(128, 128, 128, 0.5); */
    width: 207px;
    height: auto;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 0px 15px;
}

#descBox {
    display: inline-block;
    position: relative;
    /* background: rgba(199, 29, 29, 0.89); */
    width: 710px;
    height: 605px;
    font-size: 18px;
}

#event {
    background: #000000a8;
    height: 50px;
    width: 206px;
    box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.39);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

#event:hover {
    background: #525252a8;
}

#textbox {
    width: 370px;
    height: 427px;


    padding: 20px 0px 0px 10px;
}

#pic_sombrero, #pic_crabnebula, #pic_ngc1365, #pic_ngc2997, #pic_m66, #pic_m96 {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 400px;
    top: 155px;
    left: 415px;
    border: 5px solid rgba(20, 20, 20, 0.753);
}

#pic_sombrero {
    content: url(SombreroGalaxy-M104_Edited.jpg);
}

#pic_crabnebula {
    content: url(CrabNebula_Edited.jpg);
}

#pic_ngc1365 {
    content: url(GreatBarredSpiralGalaxy-NGC1365_Edited.jpg);
}

#pic_ngc2997 {
    content: url(NGC2997_Edited.jpg);
}

#pic_m66 {
    content: url(M66_Edited.jpg);
}

#pic_m96 {
    content: url(M96_Edited.jpg);
}

.text {
    padding: 13px 0px 0px 0px;
    color: white;
    margin: 18px;
}

.inner {
    position: absolute;
    text-align: left;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0px 20px 0px 20px;
}

.title {
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.title2 {
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}